<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>{{ config('app.name') }}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="/favicon.png">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sklt-chat.css" />
</head>
<body>
    {% set authUserChat = call_user_func_array(["SkeletonChatApp\\Models\\User", "find"], [auth_user.id]) %}

    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="{{ authUserChat.picture }}" class="online" alt="" />
                    <p>{{ authUserChat.getFullName() }}</p>
                </div>
            </div>
            {% if contacts.count() > 5 %}
                <div id="search">
                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                    <input type="text" placeholder="Search contacts..." />
                </div>
            {% endif %}
            <div id="contacts">
                <ul>
                    {% if contacts is not empty %}
                        {% for index, contact in contacts %}
                            <li class="contact"
                                data-id="{{ contact.user.id }}"
                                data-picture="{{ contact.user.picture }}"
                                data-fullname="{{ contact.user.full_name }}"
                                >
                                <div class="wrap">
                                    <span class="contact-status online"></span>
                                    <img class="picture" src="{{ contact.user.picture }}" alt="" />
                                    <div class="meta">
                                        <p class="name">
                                            {{ contact.user.full_name }}

                                            <b class="unread-number">
                                                {% if authUserChat.numberOfUnread(contact.user.id) > 0 %}
                                                    ({{ authUserChat.numberOfUnread(contact.user.id) }})
                                                {% endif %}
                                            </b>
                                        </p>
                                        <p class="preview">{{ contact.user.conversation is not null ? contact.user.conversation.message }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="contact empty">
                            <div class="wrap">
                                <p>You have no contacts.</p>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <button id="add-contact-btn" class="btn btn-default btn-block"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>

            <div id="bottom-bar">
                <a href="{{ path_for('auth.account-setting') }}"><i class="fa fa-gear fa-fw" aria-hidden="true"></i> <span>Account Setting</span></a>
                <button onclick="document.getElementById('auth-logout-form').submit()"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> <span>Logout</span></button>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <div class="image-fullname">
                    <!-- to be load of js -->
                </div>
                <div class="social-media">
                    <i class="fa fa-bell" aria-hidden="true" id="contact-request-btn">
                        {% if contactRequests.count() > 0 %}
                            <span class="badge" data-count="{{ contactRequests.count() }}">{{ contactRequests.count() }}</span>
                        {% endif %}
                    </i>
                </div>
            </div>

            <div class="messages">
                <!-- to be load of js -->
            </div>

            <div class="message-input">
                <div class="wrap">
                    <input type="text" name="message" placeholder="Write your message..." />
                    <button class="submit" data-loading-text='<span class="fa fa-refresh fa-spin"></span>'>
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if auth_user %}
        {% if config('auth.modules.login.enabled') %}
            <form method="POST" action="{{ path_for('auth.logout') }}" id="auth-logout-form" hidden>
                {{ csrf.field | raw }}
            </form>
        {% endif %}
    {% endif %}

    <script type="text/javascript">
        window.sklt_chat = {
            host: "{{ config('sklt-chat.host') }}",
            port: "{{ config('sklt-chat.port') }}",
            auth_id: "{{ auth_user.id }}",
            login_token: "{{ auth_user.login_token }}"
        }
    </script>

    <script type="text/template" id="add-contact-tmpl">
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="search_contact" class="form-control" placeholder="Search contacts..." />

                <table class="table table-hover table-condensed table-striped">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </script>

    <script type="text/template" id="result-contacts-tmpl">
        <% if (!_.isEmpty(result_users)) { %>
            <% _.each(result_users, function(user) { %>
                <tr>
                    <td>
                        <img src="<%= user.picture %>" class="img-responsive contact-picture" alt="" width="50" />
                    </td>
                    <td>
                        <p class="contact-fullname"><%= user.first_name + " " + user.last_name %></p>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs add-contact" data-loading-text='<span class="fa fa-refresh fa-spin"></span>' data-user-id="<%= user.id %>">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add Contact
                        </button>
                    </td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td>
                    <p>No contact found</p>
                </td>
            </tr>
        <% } %>
    </script>

    <script type="text/template" id="contact-request-tmpl">
        <div class="row">
            <div class="col-md-12">
                <% if (_.isEmpty(user_requests) && _.isEmpty(contact_requests)) { %>
                    <p>No contact requests</p>
                <% } else { %>
                    <% if (!_.isEmpty(user_requests)) { %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">My Request</h1>
                            </div>
                            <table class="table table-hover table-condensed table-striped table-bordered">
                                <thead>
                                    <tr class="bg-info">
                                        <th colspan="2" class="text-center">Info</th>
                                        <th>Request At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(user_requests, function(request) { %>
                                        <tr>
                                            <td>
                                                <img src="<%= request.user.picture %>" class="img-responsive contact-picture" alt="" width="50" />
                                            </td>
                                            <td>
                                                <p class="contact-fullname"><%= request.user.full_name %></p>
                                            </td>
                                            <td>
                                                <span class="badge"><%= request.requested_at.date %></span>
                                            </td>
                                            <td>
                                                <button class="btn btn-warning btn-xs remove-request-btn" data-id="<%= request.id %>">Remove</button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>

                    <% if (!_.isEmpty(contact_requests)) { %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Contacts Request</h1>
                            </div>
                            <table class="table table-hover table-condensed table-striped table-bordered">
                                <thead>
                                    <tr class="bg-info">
                                        <th colspan="2" class="text-center">Info</th>
                                        <th>Request At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(contact_requests, function(request) { %>
                                        <tr>
                                            <td>
                                                <img src="<%= request.user.picture %>" class="img-responsive contact-picture" alt="" width="50" />
                                            </td>
                                            <td>
                                                <p class="contact-fullname"><%= request.user.full_name %></p>
                                            </td>
                                            <td>
                                                <span class="badge"><%= request.requested_at.date %></span>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary btn-xs accept-request" data-loading-text='<span class="fa fa-refresh fa-spin"></span>' data-id="<%= request.id %>">Accept</button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </script>

    <script type="text/template" id="contact-item-tmpl">
        <li class="contact">
            <div class="wrap">
                <span class="contact-status online"></span>
                <img src="<%= picture %>" alt="" />
                <div class="meta">
                    <p class="name"><%= fullname %></p>
                    <p class="preview"></p>
                </div>
            </div>
        </li>

        <li class="contact"
            data-id="<%= user.id %>"
            data-picture="<%= user.picture %>"
            data-fullname="<%= user.full_name %>"
            >
            <div class="wrap">
                <span class="contact-status online"></span>
                <img class="picture" src="<%= user.picture %>" alt="" />
                <div class="meta">
                    <p class="name">
                        <%= user.full_name %>

                        <b class="unread-number"><%= typeof(unread_number) !== "undefined" ? unread_number : "" %></b>
                    </p>
                    <p class="preview"><%= typeof(message) !== "undefined" ? message : "" %></p>
                </div>
            </div>
        </li>
    </script>

    <script type="text/template" id="messages-item-tmpl">
        <% if (!_.isEmpty(conversation)) { %>
            <% _.each(conversation, function(convo) { %>
                <li class="<%= convo.sender.id == sklt_chat.auth_id ? 'sent' : 'replies' %>">
                    <img src="<%= convo.sender.picture %>" alt="" />
                    <p><%= convo.message %></p>
                </li>
            <% }); %>
        <% } %>
    </script>

    <script type="text/template" id="message-item-tmpl">
        <li class="<%= is_sender ? 'sent' : 'replies' %>">
            <img src="<%= picture %>" alt="" />
            <p><%= message %></p>
        </li>
    </script>

    <script type="text/template" id="typing-tmpl">
        <li class="replies typing">
            <p>...</p>
        </li>
    </script>

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/bootbox/bootbox.js"></script>
    <script type="text/javascript" src="/js/sklt-chat/emitter-receiver.js"></script>
    <script type="text/javascript" src="/js/sklt-chat/chat.js"></script>
</body>
</html>
