<div class="form-group has-feedback {{ old_input is not empty ? (errors[field_name] is not empty ? "has-error") }}">
    <img class="img-responsive" alt="" id="output-img-element" width="100" />
    <label for="{{ field_name }}">{{ field_text is defined ?: str_title(field_name) }}</label>
    <input type="file" name="{{ field_name }}" class="form-control" accept="image/gif,image/jpeg,image/png"
        {% if enabledQuickLoadImage is defined %}
            {% if enabledQuickLoadImage %}
                onchange="quickLoadImage(this, document.getElementById('output-img-element'))"
            {% endif %}
        {% endif %}
    />

    {% if errors[field_name] is not empty %}
        <span class="help-block">{{ errors[field_name] | first }}</span>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
</div>
